/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#wrapper {
    margin: 23px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: white;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#sidebar.active {
    margin-left: -250px;
}

a[data-toggle="collapse"] {
    position: relative;
}

.link-menu {
    padding: 10px;
    color: #2196F3;
}


li {
    margin-bottom: 6px;
    border-radius: 6px;
}

/* li:not(.active):hover {
    background-color: #e0f1ff;
} */


a[data-toggle="collapse"] {
    position: relative;
}

.link-menu .sub-menu {
    display: none;
    list-style: none;
    padding-left: 32px;
}

.link-menu .nav-item.active .sub-menu {
    display: block;
    background-color: red !important;
}

.accordion-toggle {
    cursor: pointer;
    padding: 12px;
    /* background-color: #f5f5f5; */
    position: relative;
}

.accordion-toggle .accordion-icon {
    position: absolute;
    right: 12px;
    top: 50%;
    font-size: 11px;
    transform: translateY(-50%);
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: white;
}

.accordion-content.active {
    display: block;
}

.link-active {
    background-color: #2196F3;
    border-radius: 6px;
    color: white !important;
    font-weight: bold;
}


.nav-link {
    padding: 12px;
    border-radius: 6px;
}

.nav-link:hover {
    background-color: #dbefff;
    border-radius: 6px;
}

.sub-link-active {
    background-color: #dbefff;
}

.sub-menu {
    position: relative;
}

.sub-menu-vertical-divider {
    position: absolute;
    top: 0;
    left: 12px;
    /* Adjust the distance from the nav link */
    width: 2px;
    margin-top: 10px;
    background-color: rgb(214, 214, 214);
    /* Change the color of the vertical line */
}








/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    /* padding: 20px; */
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebarCollapse span {
        display: none;
    }
}